body {
  margin: 0 auto;
}
body .App {
  margin: auto;
  max-width: 1400px;
  padding: 10px;
}
body .menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .menu ul {
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
}
body .menu ul li {
  padding-left: 50px;
  cursor: pointer;
  list-style: none;
  font-size: 16px;
}
body .menu ul li:hover {
  text-decoration: underline;
  color: #008000;
}
body .menu .sl {
  border: 1px solid #008000;
  width: 144px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 20px;
}
body .menu .logo {
  background-image: url("./img/logo.png");
  background-size: contain;
  width: 300px;
  height: 70px;
}
