body{
    margin: 0 auto;
    
}
.App{
    max-width: 1200px;
    margin: auto;
    
}
.top , .line{
    display: none;
}
.menu{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.img{
    background-size:contain ;
    background: url("./img/logo.png") no-repeat;
    width: 300px;
    height: 70px;
}
li {
    display: flex;
    justify-content: space-around;
}
span{
    padding-left: 10px;
    color: black;
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
    color: green;
}
.sail{
    width: 100px;
    height: 50px;
    border: 1px solid green;
    border-radius: 30px;
    text-align: center;
    padding-top:12px ;
    box-sizing: border-box;
}
