body{
    margin: 0 auto;
    
}
.App{
    max-width: 1200px;
    margin: auto;
}
.menu{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, #750179, #d61010);
}
.img{
    margin-top: 10px;
    background: url("./img/logoTwo.png") no-repeat;
    width: 200px;
    height: 50px;
}
li {
    display: flex;
    justify-content: space-around;
}
span{
    padding-left: 15px;
    color: white;
    cursor: pointer;
}

.sail{
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    padding-top:12px ;
    box-sizing: border-box;
    color:white;
}
.top{
    position: absolute;
    top:10px;
}
.left{
    margin-right: 760px;

}
.left a {
    padding-right:20px ;
    box-sizing: border-box;
}
.right{
    margin-right: 20px;
    color: white;
}
.line{
    position: absolute;
    width: 86%;
    height: 1px;
    top :103px;
    background:white;

}
